<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
    <script src="/webjars/jquery/jquery.min.js" />
    <script src="/webjars/sockjs-client/sockjs.min.js" />
    <script src="/webjars/stomp-websocket/stomp.min.js" />
    <script src="/app.js" />

    <meta name='client-id' content='' th:content='${clientId}'/>
</head>
<body id="main" th:utext='${body}'>
</body>
</html>